<%= form_with model: [@game, @critic], local: true do |form| %>
  <% if @critic.errors.any? %>
    <ul>
      <% @critic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.submit 'Submit Critic' %>
<% end %>
<%= link_to 'Cancel', game_path(@game) %> 